{"swagger":"2.0","info":{"version":"v1","title":"Selligent Marketing Cloud API","description":"Click the endpoint to see details. In the Parameters-section, we show an example of how the data you send along with the api-call looks like."},"host":"ngpa.slgnt.eu","basePath":"/Portal/Api","schemes":["https"],"paths":{"/mediums":{"get":{"tags":["Medium"],"summary":"Use this endpoint to get list of all medium configurations.","operationId":"Medium_GetMediums","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"filter","in":"query","description":"Optional parameter to filter mediums by medium type (Ftp, Url or Repository).","required":false,"type":"string"},{"name":"search","in":"query","description":"Optional parameter to search mediums by name or description.","required":false,"type":"string"},{"name":"skip","in":"query","description":"Optional parameter to specify index to start picking medium items from.","required":false,"type":"integer","format":"int32"},{"name":"take","in":"query","description":"Optional parameter to specify count for the number of medium items to be taken.","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"This endpoint will retrieve list of mediums. Check “Model” for the object - structure.","schema":{"$ref":"#/definitions/mediums"},"examples":{"mediums":[{"type":"Ftp","api_name":"medium_ftp"},{"type":"Url","api_name":"medium_url"},{"type":"Repository","api_name":"medium_repository"}]}},"400":{"description":"Represents a response for an unsuccessful retrieval in case of invalid medium type.","schema":{"$ref":"#/definitions/retrieve_all_mediums_failed_response"},"examples":{"errors":[{"error_code":"ERR_MEDIUM_VALIDATION_INVALIDMEDIUM","description":"Invalid medium type provided."}],"result_code":"ValidationFailed","message":"Invalid medium type provided."}}}}},"/mediums/{api_name}":{"get":{"tags":["Medium"],"summary":"Use this endpoint to retrieve a medium (Ftp/Url/Repository) details.","operationId":"Medium_GetMedium","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"api_name","in":"path","description":"Parameter to specify medium API name.","required":true,"type":"string"}],"responses":{"200":{"description":"This endpoint will retrieve the medium details with the given api name.","schema":{"$ref":"#/definitions/retrieve_medium_success_response"},"examples":{"ftp_medium_model":{"type":"Ftp","api_name":"Test_Ftp_Api","name":"TestFtpMedium","description":"TestFtpDescription","ftp_type":"Ftps","server":"FTPServer","login":"TestFtpLogin","subfolder":"IN"},"repository_medium_model":{"type":"Repository","api_name":"Test_Repository_Api","name":"TestRepositoryMedium","description":"TestFtpDescription","data_exchange_type":"Selligent","subfolder":"IN"},"url_medium_model":{"type":"Url","api_name":"Test_Url_Api","name":"TestUrlMedium","description":"TestFtpDescription","url_link":"https://test.com","login":"TestUrlLogin"}}}}},"delete":{"tags":["Medium"],"summary":"Use this endpoint to delete a medium.","operationId":"Medium_DeleteMedium","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"api_name","in":"path","description":"API name of the medium to be deleted","required":true,"type":"string"}],"responses":{"200":{"description":"This endpoint will delete the medium with the given api name.","schema":{"$ref":"#/definitions/delete_medium_success_response"},"examples":{"result_code":"Succeeded","message":"The medium has been deleted successfully"}}}}},"/mediums/ftp":{"post":{"tags":["Medium"],"summary":"Use this endpoint to create a FTP medium.","operationId":"Medium_CreateFtpMedium","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"model","in":"body","description":"The model object consists medium details that are to used to create the medium","required":true,"schema":{"$ref":"#/definitions/CreateFtpMediumApiRequestModel"}}],"responses":{"200":{"description":"This endpoint will create a new medium of FTP type. This medium will contain the parameters, specifically for the chosen medium type. Check “Model” for the object - structure.","schema":{"$ref":"#/definitions/create_medium_success_example_response"},"examples":{"result_code":"Succeeded","message":"Medium created successfully."}},"400":{"description":"Medium Not Created","schema":{"$ref":"#/definitions/create_medium_failed_example_response"},"examples":{"errors":[{"error_code":"ERR","description":"Incorrect data provided."}],"result_code":"Failed","message":"Request Failed"}}}}},"/mediums/ftp/{api_name}":{"put":{"tags":["Medium"],"summary":"Use this endpoint to update a FTP medium.","operationId":"Medium_UpdateFtpMedium","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"api_name","in":"path","description":"API name of the FTP medium to be updated","required":true,"type":"string"},{"name":"model","in":"body","description":"The model object consists medium details that are to used to update the FTP medium","required":true,"schema":{"$ref":"#/definitions/UpdateFtpMediumApiRequestModel"}}],"responses":{"200":{"description":"This endpoint will update a medium of FTP type. This medium will contain the parameters, specifically for the chosen medium type. Check “Model” for the object - structure.","schema":{"$ref":"#/definitions/update_medium_success_response"},"examples":{"result_code":"Succeeded","message":"Medium updated successfully."}},"400":{"description":"Medium Not Updated","schema":{"$ref":"#/definitions/update_medium_failed_response"},"examples":{"errors":[{"error_code":"ERR_MEDIUM_VALIDATION","description":"Failed to update medium"}],"result_code":"ValidationFailed","message":"Request Failed"}}}}},"/mediums/repository":{"post":{"tags":["Medium"],"summary":"Use this endpoint to create a Repository medium.","operationId":"Medium_CreateRepositoryMedium","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"model","in":"body","description":"The model object consists medium details that are to used to create the medium","required":true,"schema":{"$ref":"#/definitions/CreateRepositoryMediumApiRequestModel"}}],"responses":{"200":{"description":"This endpoint will create a new medium of Repository type. This medium will contain the parameters, specifically for the chosen medium type. Check “Model” for the object - structure.","schema":{"$ref":"#/definitions/create_medium_success_example_response"},"examples":{"result_code":"Succeeded","message":"Medium created successfully."}},"400":{"description":"Medium Not Created","schema":{"$ref":"#/definitions/create_medium_failed_example_response"},"examples":{"errors":[{"error_code":"ERR","description":"Incorrect data provided."}],"result_code":"Failed","message":"Request Failed"}}}}},"/mediums/repository/{api_name}":{"put":{"tags":["Medium"],"summary":"Use this endpoint to update a Repository medium.","operationId":"Medium_UpdateRepositoryMedium","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"api_name","in":"path","description":"API name of the Repository medium to be updated","required":true,"type":"string"},{"name":"model","in":"body","description":"The model object consists medium details that are to used to update the Repository medium","required":true,"schema":{"$ref":"#/definitions/UpdateRepositoryMediumApiRequestModel"}}],"responses":{"200":{"description":"This endpoint will update a medium of Repository type. This medium will contain the parameters, specifically for the chosen medium type. Check “Model” for the object - structure.","schema":{"$ref":"#/definitions/update_medium_success_response"},"examples":{"result_code":"Succeeded","message":"Medium updated successfully."}},"400":{"description":"Medium Not Updated","schema":{"$ref":"#/definitions/update_medium_failed_response"},"examples":{"errors":[{"error_code":"ERR_MEDIUM_VALIDATION","description":"Failed to update medium"}],"result_code":"ValidationFailed","message":"Request Failed"}}}}},"/mediums/url":{"post":{"tags":["Medium"],"summary":"Use this endpoint to create a URL medium.","operationId":"Medium_CreateUrlMedium","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"model","in":"body","description":"The model object consists medium details that are to used to create the medium","required":true,"schema":{"$ref":"#/definitions/CreateUrlMediumApiRequestModel"}}],"responses":{"200":{"description":"This endpoint will create a new medium of URL type. This medium will contain the parameters, specifically for the chosen medium type. Check “Model” for the object - structure.","schema":{"$ref":"#/definitions/create_medium_success_example_response"},"examples":{"result_code":"Succeeded","message":"Medium created successfully."}},"400":{"description":"Medium Not Created","schema":{"$ref":"#/definitions/create_medium_failed_example_response"},"examples":{"errors":[{"error_code":"ERR","description":"Incorrect data provided."}],"result_code":"Failed","message":"Request Failed"}}}}},"/mediums/url/{api_name}":{"put":{"tags":["Medium"],"summary":"Use this endpoint to update a URL medium.","operationId":"Medium_UpdateUrlMedium","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"api_name","in":"path","description":"API name of the URL medium to be updated","required":true,"type":"string"},{"name":"model","in":"body","description":"The model object consists medium details that are to used to update the URL medium","required":true,"schema":{"$ref":"#/definitions/UpdateUrlMediumApiRequestModel"}}],"responses":{"200":{"description":"This endpoint will update a medium of URL type. This medium will contain the parameters, specifically for the chosen medium type. Check “Model” for the object - structure.","schema":{"$ref":"#/definitions/update_medium_success_response"},"examples":{"result_code":"Succeeded","message":"Medium updated successfully."}},"400":{"description":"Medium Not Updated","schema":{"$ref":"#/definitions/update_medium_failed_response"},"examples":{"errors":[{"error_code":"ERR_MEDIUM_VALIDATION","description":"Failed to update medium"}],"result_code":"ValidationFailed","message":"Request Failed"}}}}},"/notificationgroups":{"get":{"tags":["Notification Group"],"summary":"Use this endpoint to retrieve all the notification groups.","operationId":"NotificationGroup_RetrieveNotificationGroups","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"This endpoint will return a list of notification groups.","schema":{"$ref":"#/definitions/retrieve_all_notification_groups_success_example_response"},"examples":{"notification_groups":[{"api_name":"notification_group_1"},{"api_name":"notification_group_2"}]}}}},"post":{"tags":["Notification Group"],"summary":"Use this endpoint to create a new notification group.","operationId":"NotificationGroup_CreateNotificationGroup","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"model","in":"body","description":"The model object consists notification group details that are to used to create the notification group","required":true,"schema":{"$ref":"#/definitions/CreateNotificationGroupApiRequestModel"}}],"responses":{"200":{"description":"This endpoint will create a new notification group.","schema":{"$ref":"#/definitions/create_notification_group_success_example_response"},"examples":{"result_code":"Succeeded","message":"Notification group saved successfully."}},"400":{"description":"Notification group not created.","schema":{"$ref":"#/definitions/create_notification_group_failed_example_response"},"examples":{"errors":[{"error_code":"ERR","description":"Incorrect data provided."}],"result_code":"Failed","message":"Request Failed"}}}}},"/notificationgroups/{api_name}":{"put":{"tags":["Notification Group"],"summary":"Use this endpoint to update the properties of the notification group.","operationId":"NotificationGroup_UpdateNotificationGroup","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"api_name","in":"path","description":"API name of the notification group to be updated","required":true,"type":"string"},{"name":"model","in":"body","description":"The model object consists notification group details that are to used to update the notification group","required":true,"schema":{"$ref":"#/definitions/UpdateNotificationGroupApiRequestModel"}}],"responses":{"200":{"description":"This endpoint will update the properties of the notification group.","schema":{"$ref":"#/definitions/update_notification_group_success_example_response"},"examples":{"result_code":"Succeeded","message":"Notification group saved successfully."}},"400":{"description":"Notification group not updated.","schema":{"$ref":"#/definitions/update_notification_group_failed_example_response"},"examples":{"errors":[{"error_code":"ERR","description":"Incorrect data provided."}],"result_code":"Failed","message":"Request Failed"}}}},"delete":{"tags":["Notification Group"],"summary":"Use this endpoint to delete a notification group.","operationId":"NotificationGroup_DeleteNotificationGroup","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"api_name","in":"path","description":"API name of the notification group to be deleted","required":true,"type":"string"}],"responses":{"200":{"description":"This endpoint will delete the notification group with the given api name.","schema":{"$ref":"#/definitions/delete_notification_group_success_response"},"examples":{"result_code":"Succeeded","message":"Notification group deleted successfully."}},"400":{"description":"Represents a response for an unsuccessful delete of notification group.","schema":{"$ref":"#/definitions/delete_notification_group_failed_response"},"examples":{"errors":[{"error_code":"ERR","description":"Failed to delete notification group."}],"result_code":"ValidationFailed","message":"Request Failed"}}}}},"/organizations/{organization}":{"get":{"tags":["Organization"],"summary":"Use this endpoint to retrieve the details of this organization set up on your instance of Selligent Marketing Cloud.","operationId":"Organization_Get","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"organization","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"This endpoint will return an object with the main properties of the organization. Check “Model” for the object - structure.","schema":{"$ref":"#/definitions/organization"},"examples":{"name":"organization_1","image_reference":"ImageReference","image_type":"png","languages":[{"name":"my_language","code":"my_language_code","locale":"my_language_locale"}]}}}}},"/organizations/{organization}/content/{api_name}":{"get":{"tags":["Content"],"summary":"API to check whether content already exists.","operationId":"Content_GetContent","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"api_name","in":"path","description":"Parameter represents API name of the content.","required":true,"type":"string"},{"name":"organization","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"This endpoint will return a content-object defined on the given organization with the given api-name. Check “Model” for the object - structure.","schema":{"$ref":"#/definitions/ContentDetailsResponseModel"},"examples":{"name":"Email Message","description":"Description for email message","api_name":"email_message_api","tags":["email","offers"],"type":"Email"}}}},"delete":{"tags":["Content"],"summary":"API to delete existing content.","operationId":"Content_Delete","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"api_name","in":"path","description":"Parameter represents API name of the content.","required":true,"type":"string"},{"name":"organization","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"This endpoint will delete the content with the given api name.","schema":{"$ref":"#/definitions/delete_content_success_response"},"examples":{"result_code":"Succeeded","message":"The content has been deleted successfully"}}}}},"/organizations/{organization}/content/email":{"post":{"tags":["Content"],"summary":"API to create simple (only html) single language message of email.","operationId":"Content_CreateEmailContent","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"model","in":"body","description":"This CreateEmailMessageModel model have information related to email message","required":true,"schema":{"$ref":"#/definitions/CreateEmailMessageModel"}},{"name":"publish","in":"query","description":"Parameter indicating whether the content should be published. [Default: false]","required":false,"type":"boolean"},{"name":"organization","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"Email message content created","schema":{"$ref":"#/definitions/create_email_message_content_success_response"},"examples":{"result_code":"Succeeded","message":"The Email message has been created successfully."}},"400":{"description":"Email message content Not created","schema":{"$ref":"#/definitions/create_email_message_content_failed_response"},"examples":{"errors":[{"error_code":"ERR","description":"Incorrect data provided."}],"result_code":"Failed","message":"Request Failed"}}}}},"/organizations/{organization}/content/mobile":{"post":{"tags":["Content"],"summary":"API to create Mobile push message for creating content.","operationId":"Content_CreateContent","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"model","in":"body","description":"This CreateMobileMessageModel model have information related to Mobile push content","required":true,"schema":{"$ref":"#/definitions/CreateMobileMessageModel"}},{"name":"publish","in":"query","description":"Parameter indicating whether the content should be published. [Default: false]","required":false,"type":"boolean"},{"name":"organization","in":"path","required":true,"type":"string"}],"responses":{"201":{"description":"Mobile message content created","schema":{"$ref":"#/definitions/create_mobile_message_content_success_response"},"examples":{"result_code":"Succeeded","message":"The Mobile message has been created successfully."}},"400":{"description":"Mobile message content Not created","schema":{"$ref":"#/definitions/create_mobile_message_content_failed_response"},"examples":{"errors":[{"error_code":"ERR","description":"Incorrect data provided."}],"result_code":"Failed","message":"Request Failed"}}}}},"/organizations/{organization}/content/page":{"post":{"tags":["Content"],"summary":"API to create simple (only html) single language page content.","operationId":"Content_CreateContent","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"model","in":"body","description":"This CreatePageModel model have information related to Mobile push content","required":true,"schema":{"$ref":"#/definitions/CreatePageModel"}},{"name":"publish","in":"query","description":"Parameter indicating whether the content should be published. [Default: false]","required":false,"type":"boolean"},{"name":"organization","in":"path","required":true,"type":"string"}],"responses":{"201":{"description":"Page content created","schema":{"$ref":"#/definitions/create_page_content_success_response"},"examples":{"result_code":"Succeeded","message":"The Page content has been created successfully."}},"400":{"description":"Page content Not created","schema":{"$ref":"#/definitions/create_page_content_failed_response"},"examples":{"errors":[{"error_code":"ERR","description":"Incorrect data provided."}],"result_code":"Failed","message":"Request Failed"}}}}},"/organizations/{organization}/content/sms":{"post":{"tags":["Content"],"summary":"API to create a SMS Content","operationId":"Content_CreateContent","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"model","in":"body","description":"This CreateSMSModel model have information related to SMS content","required":true,"schema":{"$ref":"#/definitions/CreateSmsModel"}},{"name":"publish","in":"query","description":"Parameter indicating whether the content should be published. [Default: false]","required":false,"type":"boolean"},{"name":"organization","in":"path","required":true,"type":"string"}],"responses":{"201":{"description":"Sms content created","schema":{"$ref":"#/definitions/create_sms_content_success_response"},"examples":{"result_code":"Succeeded","message":"The SMS message has been created successfully."}},"400":{"description":"Sms content Not created","schema":{"$ref":"#/definitions/create_sms_content_failed_response"},"examples":{"errors":[{"error_code":"ERR","description":"Incorrect data provided."}],"result_code":"Failed","message":"Request Failed"}}}}},"/organizations/{organization}/exports/{api_name}":{"delete":{"tags":["Data Export"],"summary":"Use this endpoint to delete a data export.","operationId":"DataExport_DeleteDataExport","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"api_name","in":"path","description":"API name of the data export to be deleted","required":true,"type":"string"},{"name":"organization","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"This endpoint will delete the data export with the given api name.","schema":{"$ref":"#/definitions/delete_data_export_success_response"},"examples":{"result_code":"Succeeded","message":"Data export has been deleted successfully."}},"400":{"description":"Represents a response for an unsuccessful delete of data export.","schema":{"$ref":"#/definitions/delete_data_export_failed_response"},"examples":{"errors":[{"error_code":"ERR","description":"Failed to delete data export."}],"result_code":"ValidationFailed","message":"Request Failed"}}}}},"/organizations/{organization}/imports/{api_name}":{"delete":{"tags":["Data Import"],"summary":"Use this endpoint to delete a data import.","operationId":"DataImport_DeleteDataImport","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"api_name","in":"path","description":"API name of the data import to be deleted","required":true,"type":"string"},{"name":"organization","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"This endpoint will delete the data import with the given api name.","schema":{"$ref":"#/definitions/delete_data_import_success_response"},"examples":{"result_code":"Succeeded","message":"Data import has been deleted successfully."}},"400":{"description":"Represents a response for an unsuccessful delete of data import.","schema":{"$ref":"#/definitions/delete_data_import_failed_response"},"examples":{"errors":[{"error_code":"ERR","description":"Failed to delete data import."}],"result_code":"ValidationFailed","message":"Request Failed"}}}}},"/organizations/{organization}/journeys":{"get":{"tags":["Journey"],"summary":"Use this endpoint to retrieve an overview of all journeys set up in the given organization.","operationId":"Journey_Get","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"organization","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"This endpoint will return an list of objects with the main properties of the organization. Check “Model” for the object - structure.","schema":{"$ref":"#/definitions/journeys"},"examples":{"journeys":[{"api_name":"journey_1","type":"transactional"},{"api_name":"journey_2","type":"transactional"}]}}}}},"/organizations/{organization}/journeys/ab/{api_name}":{"get":{"tags":["AB"],"summary":"Use this endpoint to check whether AB journey already exists.","operationId":"AB_Get","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"api_name","in":"path","description":"Parameter represents API name of the AB journey.","required":true,"type":"string"},{"name":"organization","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"This endpoint will return a AB journey-object defined on the given organization with the given api-name. Check “Model” for the object - structure.","schema":{"$ref":"#/definitions/JourneyDetailsResponseModel"},"examples":{"type":"journey_type","name":"journey_1","api_name":"journey_1_api","description":"description for journey_1"}}}},"delete":{"tags":["AB"],"summary":"Use this endpoint to delete existing AB journey.","operationId":"AB_Delete","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"api_name","in":"path","description":"Parameter represents API name of the AB journey.","required":true,"type":"string"},{"name":"organization","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"This endpoint will delete the AB journey with the given api name.","schema":{"$ref":"#/definitions/delete_journey_success_response"},"examples":{"result_code":"Succeeded","message":"The journey has been deleted successfully"}}}}},"/organizations/{organization}/journeys/custom/{api_name}":{"get":{"tags":["Custom"],"summary":"Use this endpoint to check whether custom journey already exists.","operationId":"Custom_Get","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"api_name","in":"path","description":"Parameter represents API name of the custom journey.","required":true,"type":"string"},{"name":"organization","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"This endpoint will return a custom journey-object defined on the given organization with the given api-name. Check “Model” for the object - structure.","schema":{"$ref":"#/definitions/JourneyDetailsResponseModel"},"examples":{"type":"journey_type","name":"journey_1","api_name":"journey_1_api","description":"description for journey_1"}},"401":{"description":"unauthorized.","schema":{"type":"string"}}}},"delete":{"tags":["Custom"],"summary":"Use this endpoint to delete existing custom journey.","operationId":"Custom_Delete","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"api_name","in":"path","description":"Parameter represents API name of the custom journey.","required":true,"type":"string"},{"name":"organization","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"This endpoint will delete the custom journey with the given api name.","schema":{"$ref":"#/definitions/delete_journey_success_response"},"examples":{"result_code":"Succeeded","message":"The journey has been deleted successfully"}},"401":{"description":"unauthorized.","schema":{"type":"string"}}}}},"/organizations/{organization}/journeys/custom/{api_name}/entrypoints":{"get":{"tags":["Custom"],"summary":"Lists all entry point components in the custom journey, usable via api.","operationId":"Custom_GetEntryPoints","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"api_name","in":"path","description":"the api name of the custom journey.","required":true,"type":"string"},{"name":"organization","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"An overview of all available entry points within the custom journey and usable via api. All other type of entry points are not listed here.","schema":{"$ref":"#/definitions/journey_entry_point_info_response"},"examples":[{"system_info":"some optional system information about the entry point.","model":{"entry_point_type":"Input","name":"My name of the entry point","api_name":"entrypoint_api_name"}}]},"401":{"description":"unauthorized.","schema":{"type":"string"}},"404":{"description":"when no custom journey exists for the api_name.","schema":{"type":"string"}}}}},"/organizations/{organization}/journeys/custom/{api_name}/entrypoints/{entrypoint_api_name}":{"get":{"tags":["Custom"],"summary":"Gets detailed information about the entry point component.","operationId":"Custom_GetEntryPoint","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"api_name","in":"path","description":"the api name of the custom journey","required":true,"type":"string"},{"name":"entrypoint_api_name","in":"path","description":"the api name of the entry point defined in the custom journey.","required":true,"type":"string"},{"name":"organization","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"Returns detailed information about a specific entry point within the custom journey and usable via api.","schema":{"$ref":"#/definitions/journey_entry_point_response"},"examples":{"system_info":"some optional system information about the entry point.","model":{"entry_point_type":"Input","name":"My name of the entry point","api_name":"entrypoint_api_name","parameters":[{"name":"PARAM1","required":true},{"name":"PARAM2","required":false}]}}},"401":{"description":"unauthorized.","schema":{"type":"string"}},"404":{"description":"when the combination of api_name and entrypoint_api_name did not resulted in succes.","schema":{"type":"string"}}}}},"/organizations/{organization}/journeys/custom/{api_name}/entrypoints/{entrypoint_api_name}/trigger":{"post":{"tags":["Custom"],"summary":"This will trigger a specific start component in the custom journey","operationId":"Custom_TriggerEntryPoint","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"api_name","in":"path","description":"","required":true,"type":"string"},{"name":"entrypoint_api_name","in":"path","description":"","required":true,"type":"string"},{"name":"model","in":"body","description":"","required":true,"schema":{"$ref":"#/definitions/trigger_journey_entry_points_request"}},{"name":"organization","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"Trigger a specific start component in the custom journey.","schema":{"$ref":"#/definitions/trigger_journey_entry_point_response"},"examples":{"result_code":"Succeeded","result_type":"Content","body":"some result"}},"401":{"description":"unauthorized.","schema":{"type":"string"}},"404":{"description":"the requested resource does not exist on the server.","schema":{"type":"string"}},"400":{"description":"When an error occurs the response contains more information about the error(s).","schema":{"$ref":"#/definitions/trigger_journey_entry_point_failed_response"},"examples":{"message":"the request failed","errors":[{"error_code":"ERR","description":"entry point could not be triggerd, timeout."}],"result_code":"Failed"}}}}},"/organizations/{organization}/journeys/recurring/{api_name}":{"get":{"tags":["Recurring"],"summary":"Use this endpoint to check whether recurring journey already exists.","operationId":"Recurring_Get","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"api_name","in":"path","description":"Parameter represents API name of the recurring journey.","required":true,"type":"string"},{"name":"organization","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"This endpoint will return a recurring journey-object defined on the given organization with the given api-name. Check “Model” for the object - structure.","schema":{"$ref":"#/definitions/JourneyDetailsResponseModel"},"examples":{"type":"journey_type","name":"journey_1","api_name":"journey_1_api","description":"description for journey_1"}}}},"delete":{"tags":["Recurring"],"summary":"Use this endpoint to delete existing recurring journey.","operationId":"Recurring_Delete","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"api_name","in":"path","description":"Parameter represents API name of the recurring journey.","required":true,"type":"string"},{"name":"organization","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"This endpoint will delete the recurring journey with the given api name.","schema":{"$ref":"#/definitions/delete_journey_success_response"},"examples":{"result_code":"Succeeded","message":"The journey has been deleted successfully"}}}}},"/organizations/{organization}/journeys/singlebatch":{"get":{"tags":["Single Batch"],"summary":"Use this endpoint to retrieve all journeys on the given organization of type Single Batch.","operationId":"SingleBatch_Get","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"organization","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"This endpoint will return a list of single batch journey-objects defined on the given organization. Check “Model” for the object-structure.","schema":{"$ref":"#/definitions/singlebatches"},"examples":{"journeys":[{"api_name":"api_name_1","type":"singlebatch"},{"api_name":"api_name_2","type":"singlebatch"}]}}}},"post":{"tags":["Single Batch"],"summary":"Use this endpoint to create a new Single-Batch journey.","operationId":"SingleBatch_Create","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"model","in":"body","description":"The parameters required for the creation of the execution. journey.scheduling.launch_date is required, if journey.launch_state is \"Schedule\". journey.send_in_waves.type can be \"Waves\" or \"Items\". journey.sending_limit.type can be \"Absolute\" or \"Relative\". journey.sending_limit.sort_selection can be \"Random\" or \"Sorted\".","required":true,"schema":{"$ref":"#/definitions/CreateSingleBatchRequestModel"}},{"name":"organization","in":"path","required":true,"type":"string"}],"responses":{"201":{"description":"This endpoint will create a new single batch journey. Check “Model” for the object - structure.","schema":{"$ref":"#/definitions/create_single_batch_success_response"},"examples":{"journey":{"api_name":"api_name","name":"journey_name","launch_state":"launch","type":"singlebatch","deduplication":{"fields":["MASTER.MAIL"],"sort_field":"MASTER.ID","sort_descending":false},"send_in_waves":{"number_of_waves":10,"items_per_wave":0,"interval_in_minutes":15,"type":"Waves"},"sending_limit":{"type":"Absolute","percentage":0.0,"count":10,"sort_selection":"Sorted","sort_field":"MASTER.ID","sort_descending":true}},"result_code":"Succeeded"}},"400":{"description":"No (or invalid) id or model data has been provided","schema":{"$ref":"#/definitions/create_single_batch_failed_response"},"examples":{"journey":{"api_name":"api_name","name":"journey_name","launch_state":"none","type":"singlebatch","deduplication":null,"send_in_waves":null,"sending_limit":null},"errors":[{"error_code":"Failed","description":"an error has occured"}],"result_code":"Failed"}}}}},"/organizations/{organization}/journeys/singlebatch/{api_name}":{"get":{"tags":["Single Batch"],"summary":"Use this endpoint to retrieve information on the Single Batch journey with the given api name.","operationId":"SingleBatch_Get","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"api_name","in":"path","description":"The name of the instance to get","required":true,"type":"string"},{"name":"organization","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"This endpoint will return a single batch journey-object defined on the given organization with the given api-name. Check “Model” for the object - structure.","schema":{"$ref":"#/definitions/get_single_batch_response"},"examples":{"journey":{"api_name":"api_name","name":"journey_name","launch_state":"none","type":"singlebatch","campaign_analytics_tag":"campaign_analytics_tag","message_analytics_tag":"message_analytics_tag"}}}}},"delete":{"tags":["Single Batch"],"summary":"Use this endpoint to delete existing single batch journey.","operationId":"SingleBatch_Delete","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"api_name","in":"path","description":"Parameter represents API name of the single batch journey.","required":true,"type":"string"},{"name":"organization","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"This endpoint will delete the single batch journey with the given api name.","schema":{"$ref":"#/definitions/delete_journey_success_response"},"examples":{"result_code":"Succeeded","message":"The journey has been deleted successfully"}}}}},"/organizations/{organization}/journeys/singlebatch/{api_name}/cancel":{"post":{"tags":["Single Batch"],"summary":"Use this endpoint to cancel launching of a journey","operationId":"SingleBatch_Cancel","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"api_name","in":"path","description":"Api name for the journey to be cancelled.","required":true,"type":"string"},{"name":"organization","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"Journey has been cancelled successfully","schema":{"$ref":"#/definitions/cancel_single_batch_journey_success_response"},"examples":{"result_code":"Succeeded","message":"The journey has been cancelled successfully."}},"400":{"description":"Journey cancel was not successful","schema":{"$ref":"#/definitions/cancel_single_batch_journey_failed_response"},"examples":{"errors":[{"error_code":"ERR","description":"Incorrect data provided."}],"result_code":"Failed","message":"Request Failed"}},"404":{"description":"Journey (api_name or organization) cannot be found","schema":{"$ref":"#/definitions/cancel_single_batch_journey_failed_response"},"examples":{"errors":[{"error_code":"ERR","description":"Incorrect data provided."}],"result_code":"Failed","message":"Request Failed"}}}}},"/organizations/{organization}/journeys/singlebatch/{api_name}/launch":{"post":{"tags":["Single Batch"],"summary":"Use this endpoint to launch a journey","operationId":"SingleBatch_Launch","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"api_name","in":"path","description":"Api name for the journey to be launched.","required":true,"type":"string"},{"name":"request","in":"body","description":"Request model providing launch state and scheduling info. journey.scheduling.launch_date is required if journey.launch_state is \"Schedule\".","required":true,"schema":{"$ref":"#/definitions/LaunchSingleBatchRequestModel"}},{"name":"organization","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"Journey has been launched successfully","schema":{"$ref":"#/definitions/launch_single_batch_journey_success_response"},"examples":{"result_code":"Succeeded","message":"The journey has been launched successfully."}},"400":{"description":"Journey launch was not successful","schema":{"$ref":"#/definitions/launch_single_batch_journey_failed_response"},"examples":{"errors":[{"error_code":"ERR","description":"Incorrect data provided."}],"result_code":"Failed","message":"Request Failed"}},"404":{"description":"Journey (api_name or organization) cannot be found","schema":{"$ref":"#/definitions/launch_single_batch_journey_failed_response"},"examples":{"errors":[{"error_code":"ERR","description":"Incorrect data provided."}],"result_code":"Failed","message":"Request Failed"}}}}},"/organizations/{organization}/journeys/singlebatch/{api_name}/trigger":{"post":{"tags":["Single Batch"],"summary":"Use this endpoint to trigger a Single-Batch journey execution.","operationId":"SingleBatch_Trigger","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"api_name","in":"path","description":"The name of the execution that should be triggered.","required":true,"type":"string"},{"name":"model","in":"body","description":"Optionally, extra parameters required for triggering the execution can be provided through the model. journey.scheduling.launch_date is required if journey.launch_state is \"Schedule\".","required":true,"schema":{"$ref":"#/definitions/TriggerSingleBatchRequestModel"}},{"name":"organization","in":"path","required":true,"type":"string"}],"responses":{"400":{"description":"No (or invalid) id or model data has been provided","schema":{"$ref":"#/definitions/trigger_single_batch_response"},"examples":{"journey":{"api_name":"api_name","name":"journey_name","launch_state":"schedule","type":"singlebatch","scheduling":{"launch_date":"2019-12-09T15:14:37.3443599Z"}},"errors":[{"error_code":"Failed","description":"an error has occured"}],"result_code":"Failed"}},"201":{"description":"This endpoint will trigger the execution of the single batch journey with the given api-name. Check “Model” for the object - structure.","schema":{"$ref":"#/definitions/trigger_single_batch_response"},"examples":{"journey":{"api_name":"api_name","name":"journey_name","launch_state":"schedule","type":"singlebatch","scheduling":{"launch_date":"2019-12-09T15:14:37.3287337Z"}},"errors":[{"error_code":"Failed","description":"an error has occured"}],"result_code":"Failed"}}}}},"/organizations/{organization}/journeys/singlebatch/message":{"post":{"tags":["Single Batch"],"summary":"Use this end point to send single batch with email message","operationId":"SingleBatch_CreateSingleBatchEmailMessage","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"requestModel","in":"body","description":"Request model to send single batch with email message. journey.scheduling.launch_date is required if journey.launch_state is \"Schedule\". journey.send_in_waves.type can be \"Waves\" or \"Items\". journey.sending_limit.type can be \"Absolute\" or \"Relative\". journey.sending_limit.sort_selection can be \"Random\" or \"Sorted\".","required":true,"schema":{"$ref":"#/definitions/CreateSingleBatchMessageRequestModel"}},{"name":"organization","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"This endpoint will create a new single batch journey with email message. Check “Model” for the object - structure.","schema":{"$ref":"#/definitions/create_single_batch_success_response"},"examples":{"journey":{"api_name":"api_name","name":"journey_name","launch_state":"launch","type":"singlebatch","deduplication":{"fields":["MASTER.MAIL"],"sort_field":"MASTER.ID","sort_descending":false},"send_in_waves":{"number_of_waves":10,"items_per_wave":0,"interval_in_minutes":15,"type":"Waves"},"sending_limit":{"type":"Absolute","percentage":0.0,"count":10,"sort_selection":"Sorted","sort_field":"MASTER.ID","sort_descending":true}},"result_code":"Succeeded"}},"400":{"description":"No (or invalid) id or model data has been provided","schema":{"$ref":"#/definitions/create_single_batch_failed_response"},"examples":{"journey":{"api_name":"api_name","name":"journey_name","launch_state":"none","type":"singlebatch","deduplication":null,"send_in_waves":null,"sending_limit":null},"errors":[{"error_code":"Failed","description":"an error has occured"}],"result_code":"Failed"}}}}},"/organizations/{organization}/journeys/singlebatch/mobile":{"post":{"tags":["Single Batch"],"summary":"Use this endpoint to send single batch mobile push message","operationId":"SingleBatch_CreateSingleBatchMobilePush","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"requestModel","in":"body","description":"Request model providing journey info and mobile push message info. journey.scheduling.launch_date is required if journey.launch_state is \"Schedule\". journey.send_in_waves.type can be \"Waves\" or \"Items\". journey.sending_limit.type can be \"Absolute\" or \"Relative\". journey.sending_limit.sort_selection can be \"Random\" or \"Sorted\".","required":true,"schema":{"$ref":"#/definitions/CreateSingleBatchMobilePushRequestModel"}},{"name":"organization","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"This endpoint will create a new single batch journey with mobile push content. Check “Model” for the object - structure.","schema":{"$ref":"#/definitions/create_single_batch_success_response"},"examples":{"journey":{"api_name":"api_name","name":"journey_name","launch_state":"launch","type":"singlebatch","deduplication":{"fields":["MASTER.MAIL"],"sort_field":"MASTER.ID","sort_descending":false},"send_in_waves":{"number_of_waves":10,"items_per_wave":0,"interval_in_minutes":15,"type":"Waves"},"sending_limit":{"type":"Absolute","percentage":0.0,"count":10,"sort_selection":"Sorted","sort_field":"MASTER.ID","sort_descending":true}},"result_code":"Succeeded"}},"400":{"description":"No (or invalid) id or model data has been provided","schema":{"$ref":"#/definitions/create_single_batch_failed_response"},"examples":{"journey":{"api_name":"api_name","name":"journey_name","launch_state":"none","type":"singlebatch","deduplication":null,"send_in_waves":null,"sending_limit":null},"errors":[{"error_code":"Failed","description":"an error has occured"}],"result_code":"Failed"}}}}},"/organizations/{organization}/journeys/singlebatch/sms":{"post":{"tags":["Single Batch"],"summary":"Use this endpoint to create a new Single-Batch journey for Sms content","operationId":"SingleBatch_CreateSingleBatchSms","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"requestModel","in":"body","description":"Request model providing journey and sms content details. journey.scheduling.launch_date is required if journey.launch_state is \"Schedule\". journey.send_in_waves.type can be \"Waves\" or \"Items\".journey.sending_limit.type can be \"Absolute\" or \"Relative\". journey.sending_limit.sort_selection can be \"Random\" or \"Sorted\".","required":true,"schema":{"$ref":"#/definitions/CreateSingleBatchSmsRequestModel"}},{"name":"organization","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"This endpoint will create a new single batch journey with sms content. Check “Model” for the object - structure.","schema":{"$ref":"#/definitions/create_single_batch_success_response"},"examples":{"journey":{"api_name":"api_name","name":"journey_name","launch_state":"launch","type":"singlebatch","deduplication":{"fields":["MASTER.MAIL"],"sort_field":"MASTER.ID","sort_descending":false},"send_in_waves":{"number_of_waves":10,"items_per_wave":0,"interval_in_minutes":15,"type":"Waves"},"sending_limit":{"type":"Absolute","percentage":0.0,"count":10,"sort_selection":"Sorted","sort_field":"MASTER.ID","sort_descending":true}},"result_code":"Succeeded"}},"400":{"description":"No (or invalid) id or model data has been provided","schema":{"$ref":"#/definitions/create_single_batch_failed_response"},"examples":{"journey":{"api_name":"api_name","name":"journey_name","launch_state":"none","type":"singlebatch","deduplication":null,"send_in_waves":null,"sending_limit":null},"errors":[{"error_code":"Failed","description":"an error has occured"}],"result_code":"Failed"}}}}},"/organizations/{organization}/journeys/transactional":{"get":{"tags":["Transactional"],"summary":"Use this endpoint to retrieve all journeys on the given organization of type Transactional.","operationId":"Transactional_Get","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"organization","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"This endpoint will return a list of the transactional journeys defined on the organization. Check “Model” for the object - structure.","schema":{"$ref":"#/definitions/transactionals"},"examples":{"journeys":[{"api_name":"api_name_1","type":"transactional"},{"api_name":"api_name_2","type":"transactional"}]}}}}},"/organizations/{organization}/journeys/transactional/{api_name}":{"get":{"tags":["Transactional"],"summary":"Use this endpoint to retrieve information on the transactional journey with the given api name.","operationId":"Transactional_Get","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"api_name","in":"path","description":"The name of the instance to get","required":true,"type":"string"},{"name":"organization","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"This endpoint will return a journey-object defined on the given organization with the given api-name. Check “Model” for the object - structure.","schema":{"$ref":"#/definitions/TransactionalResponseModel"},"examples":{"api_name":"api_name","name":"journey_name","launch_state":"none","type":"transactional"}}}},"delete":{"tags":["Transactional"],"summary":"Use this endpoint to delete existing transactional journey.","operationId":"Transactional_Delete","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"api_name","in":"path","description":"Parameter represents API name of the transactional journey.","required":true,"type":"string"},{"name":"organization","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"This endpoint will delete the transactional journey with the given api name.","schema":{"$ref":"#/definitions/delete_journey_success_response"},"examples":{"result_code":"Succeeded","message":"The journey has been deleted successfully"}}}}},"/organizations/{organization}/journeys/transactional/{api_name}/send":{"post":{"tags":["Transactional"],"summary":"Use this endpoint to send (multiple) transactional messages (email, mobile push, sms).","operationId":"Transactional_Send","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"api_name","in":"path","description":"The name of execution that should be sent","required":true,"type":"string"},{"name":"model","in":"body","description":"The model containing the data that should be sent","required":true,"schema":{"$ref":"#/definitions/SendTransactionalRequestModel"}},{"name":"organization","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"This endpoint can be used to trigger the transactional message with the given api-name on the given organization. Check “Model” for the object - structure.","schema":{"$ref":"#/definitions/send_transactional_response"},"examples":{"result_code":"PartiallySucceeded","errors":[{"error_code":"Failed","description":"an error has occurred"}],"response_data":[{"data":{},"recipient":"noreply@example.com","language":"my_language_code","result_code":"PartiallySucceeded","errors":[{"error_code":"Failed","description":"an error has occurred"}]}],"messages":[{"id":"00000000-0000-0000-0000-000000000000"}]}}}}},"/organizations/{organization}/journeys/transactional/bulk/{api_name}/send":{"post":{"tags":["Transactional Bulk"],"summary":"Use this method to trigger a bulk journey in a transactional way","operationId":"TransactionalBulk_Send","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"api_name","in":"path","description":"The name of execution that should be sent","required":true,"type":"string"},{"name":"organization","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"The provided model is valid. The response will contain information on whether or not the action was executed successful.","schema":{"$ref":"#/definitions/send_transactional_bulk_response"},"examples":{"result_code":"PartiallySucceeded","errors":[{"error_code":"Failed","description":"an error has occurred"}]}}}}},"/organizations/{organization}/journeys/transactional/shortcut/{api_name}/updateProfileAndSend":{"post":{"tags":["Transactional"],"summary":"Use this endpoint to update the user profile with given data and then send (multiple) transactional messages (email, mobile push, sms).","operationId":"TransactionalShortcut_UpdateProfileAndSendTransactional","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"api_name","in":"path","description":"The name of execution that should be sent","required":true,"type":"string"},{"name":"model","in":"body","description":"The model containing the data that should be sent","required":true,"schema":{"$ref":"#/definitions/request"}},{"name":"organization","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"This endpoint can be used to create and/or update a user-profile and then trigger the transactional message with the given api-name on the given organization for this user. Check “Model” for the object - structure.","schema":{"$ref":"#/definitions/update_profile_and_send_transactional_response"},"examples":{"result_code":"PartiallySucceeded","errors":[{"error_code":"Failed","description":"an error has occurred"}],"response_data":[{"data":{},"recipient":"noreply@example.com","language":"my_language_code","result_code":"PartiallySucceeded","errors":[{"error_code":"Failed","description":"an error has occurred"}],"messages":null}],"messages":[{"id":"00000000-0000-0000-0000-000000000000"}]}}}}},"/organizations/{organization}/journeys/transactional/status":{"post":{"tags":["Transactional"],"summary":"Use this endpoint to get the status of multiple transactional messages.","operationId":"Transactional_GetStatus","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"ids","in":"body","required":true,"schema":{"type":"array","items":{"format":"uuid","type":"string"}}},{"name":"organization","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"This endpoint will return a list of transactional-status-objects for the messages that correspond to the list of guids that is submitted, for the transactional journeys defined on the given organization. Check “Model” for the object - structure.","schema":{"$ref":"#/definitions/transactional_status_response"},"examples":[{"id":"00000000-0000-0000-0000-000000000000","status":30,"status_message":"Mail was sent"},{"id":"00000000-0000-0000-0000-000000000000","status":30,"status_message":"Mail was sent"}]}}}},"/organizations/{organization}/journeys/transactional/status/{id}":{"get":{"tags":["Transactional"],"summary":"Use this endpoint to get the status of a transactional message with a given id.","operationId":"Transactional_GetStatusById","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"the ID of the message","required":true,"type":"string"},{"name":"organization","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"This endpoint will return a transactional-status-object for the transactional journey with the given id on the given organization. Check “Model” for the object - structure.","schema":{"$ref":"#/definitions/transactional_status_by_id_response"},"examples":{"id":"00000000-0000-0000-0000-000000000000","status":30,"status_message":"Mail was sent"}}}}},"/organizations/{organization}/lists":{"get":{"tags":["List"],"summary":"Use this endpoint to retrieve an overview of all of the lists set up in the given organization.","operationId":"List_GetLists","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"filter","in":"query","description":"Optional parameter to filter list by type. (Userlist, Datalist, Dataselectionlist or Optionlist)","required":false,"type":"string"},{"name":"search","in":"query","description":"Optional parameter to search a list with a specific name, description or tags.","required":false,"type":"string"},{"name":"skip","in":"query","description":"Optional parameter to specify index to start picking list items from.","required":false,"type":"integer","format":"int32"},{"name":"take","in":"query","description":"Optional parameter to specify count for the number of list items to be taken.","required":false,"type":"integer","format":"int32"},{"name":"organization","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"This endpoint will return a list of lists defined on the organization. Check “Model” for the object - structure.","schema":{"$ref":"#/definitions/lists"},"examples":{"lists":[{"list_type":"Userlist","api_name":"list_1","name":"name of list 1"},{"list_type":"Datalist","api_name":"list_2","name":"name of list 2"}]}}}},"post":{"tags":["List"],"summary":"Use this endpoint to create a new list in the given organization.","operationId":"List_CreateList","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"model","in":"body","description":"This CreateListRequestModel model parameter having information about list as name, api_name, listType, description and tags to be created .","required":true,"schema":{"$ref":"#/definitions/CreateListRequestModel"}},{"name":"organization","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"This endpoint will create a new list of the given type. This list will contain the default fields, specifically for the chosen list type. Check “Model” for the object - structure.","schema":{"$ref":"#/definitions/create_list_success_response"},"examples":{"result_code":"Succeeded","message":"List created successfully."}},"400":{"description":"List Not Created","schema":{"$ref":"#/definitions/create_list_failed_response"},"examples":{"errors":[{"error_code":"ERR","description":"Incorrect data provided."}],"result_code":"Failed","message":"Request Failed"}}}}},"/organizations/{organization}/lists/{api_name}":{"get":{"tags":["List"],"summary":"Use this endpoint to get a list of details for the list with the given by API name.","operationId":"List_GetList","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"api_name","in":"path","description":"Parameter represents API name of the list","required":true,"type":"string"},{"name":"organization","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"This endpoint will return a list-object defined on the given organization with the given api-name. Check “Model” for the object - structure.","schema":{"$ref":"#/definitions/ListDetailsResponseModel"},"examples":{"api_name":"api_name","name":"list_name","list_type":"Userlist","description":"description","tags":["tag1","tag2"],"email_quality_response_example":{"email_quality_type":"Custom","invalid_email_syntax":1,"non_existing_domain":2,"hard_bounce":0,"soft_bounce":3,"bounce_scope":"MASTER","email_quality_actions":[{"field_name":"OPTOUT","field_value":"10"}],"bounce_stored_procedures":["ST_Bounce_Sp1","ST_Bounce_Sp2"]},"require_segment":false}}}},"put":{"tags":["List"],"summary":"Use this endpoint to update a list","operationId":"List_UpdateList","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"api_name","in":"path","description":"Parameter for API name associated with a list","required":true,"type":"string"},{"name":"model","in":"body","description":"This UpdateListRequestModel model parameter having information about list as name, api_name, listType, description and tags to be updated .","required":true,"schema":{"$ref":"#/definitions/UpdateListRequestModel"}},{"name":"organization","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"Calling this endpoint will update properties and settings of the list with the given api-name.Check “Model” for the object - structure.","schema":{"$ref":"#/definitions/update_list_success_response"},"examples":{"result_code":"Succeeded","message":"List updated successfully."}},"400":{"description":"No (or invalid) id or model data has been provided","schema":{"$ref":"#/definitions/update_list_failed_response"},"examples":{"errors":[{"error_code":"ERR","description":"Incorrect data provided."}],"result_code":"Failed","message":"Request Failed"}}}},"delete":{"tags":["List"],"summary":"Use this endpoint to delete a list by its API name in the given organization.","operationId":"List_Delete","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"api_name","in":"path","description":"Parameter to specify API name of the list.","required":true,"type":"string"},{"name":"dropTable","in":"query","description":"Optional Parameter to specify if the associated table is to be deleted.","required":false,"type":"boolean"},{"name":"organization","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"This endpoint will delete the list with the given api-name in the given organization. Check “Model” for the object - structure that will be returned.","schema":{"$ref":"#/definitions/delete_list_success_response"},"examples":{"result_code":"Succeeded","message":"The list has been deleted successfully"}},"400":{"description":"Represents a response for an unsuccessful delete of list.","schema":{"$ref":"#/definitions/delete_list_failed_response"},"examples":{"errors":[{"error_code":"ERR_VALIDATION","description":"Failed to delete list."}],"result_code":"ValidationFailed","message":"Request Failed"}}}}},"/organizations/{organization}/lists/{api_name}/customevents":{"get":{"tags":["List"],"summary":"Use this endpoint to get custom events","operationId":"List_RetrieveCustomEvents","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"api_name","in":"path","description":"api name of the list on which all custom event are requested.","required":true,"type":"string"},{"name":"search","in":"query","description":"Optional parameter to search a custom event with a specific name, description or tags.","required":false,"type":"string"},{"name":"skip","in":"query","description":"Optional parameter to specify index to start picking custom event items from.","required":false,"type":"integer","format":"int32"},{"name":"take","in":"query","description":"Optional parameter to specify count for the number of custom event items to be taken.","required":false,"type":"integer","format":"int32"},{"name":"organization","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"This endpoint will retrieve list of custom events. Check “Model” for the object - structure.","schema":{"$ref":"#/definitions/customEvents"},"examples":{"custom_events":[{"name":"Test_CustomEvent_1"},{"name":"Test_CustomEvent_2"},{"name":"Test_CustomEvent_3"}]}}}},"post":{"tags":["List"],"summary":"Use this endpoint to create a new custom event.","operationId":"List_CreateCustomEvent","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"api_name","in":"path","description":"Parameter to specify API name of the list.","required":true,"type":"string"},{"name":"model","in":"body","description":"The model object consists custom event details that are to used to create the custom event","required":true,"schema":{"$ref":"#/definitions/CreateCustomEventRequestModel"}},{"name":"organization","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"This endpoint will create a new custom event.","schema":{"$ref":"#/definitions/create_custom_event_success_example_response"},"examples":{"result_code":"Succeeded","message":"The custom event has been saved successfully."}},"400":{"description":"Custom event not created.","schema":{"$ref":"#/definitions/create_custom_event_failed_example_response"},"examples":{"errors":[{"error_code":"ERR","description":"Incorrect data provided."}],"result_code":"Failed","message":"Request Failed"}}}}},"/organizations/{organization}/lists/{api_name}/customevents/{custom_event_name}":{"get":{"tags":["List"],"summary":"Use this endpoint to get custom event details based on list API name and custom event name.","operationId":"List_RetrieveCustomEvent","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"api_name","in":"path","description":"Parameter to specify API name of the list.","required":true,"type":"string"},{"name":"custom_event_name","in":"path","description":"Parameter to specify name of the custom event.","required":true,"type":"string"},{"name":"organization","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"This endpoint will return a custom-event-object with the details of the custom event with the given custom-event-name in the list with the given api-name defined on the given organization. Check “Model” for the object - structure.","schema":{"$ref":"#/definitions/retrieve_custom_event_success_response"},"examples":{"custom_event":{"name":"CustomEvent_1","description":"CustomEvent_Desc","transaction_field":"TransactionField"}}}}},"put":{"tags":["List"],"summary":"Use this endpoint to update a custom event.","operationId":"List_UpdateCustomEvent","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"api_name","in":"path","description":"Parameter to specify API name of the list.","required":true,"type":"string"},{"name":"custom_event_name","in":"path","description":"Parameter to specify custom event name to be updated.","required":true,"type":"string"},{"name":"model","in":"body","description":"The model object consists custom event details that are to used to update the custom event","required":true,"schema":{"$ref":"#/definitions/UpdateCustomEventRequestModel"}},{"name":"organization","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"This endpoint will update the custom event.","schema":{"$ref":"#/definitions/update_custom_event_success_example_response"},"examples":{"result_code":"Succeeded","message":"The custom event has been updated successfully."}},"400":{"description":"Custom event not updated.","schema":{"$ref":"#/definitions/update_custom_event_failed_example_response"},"examples":{"errors":[{"error_code":"ERR","description":"Incorrect data provided."}],"result_code":"Failed","message":"Request Failed"}}}},"delete":{"tags":["List"],"summary":"Use this endpoint to delete a custom event by its name in the given organization.","operationId":"List_DeleteCustomEvent","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"api_name","in":"path","description":"Parameter to specify API name of the list.","required":true,"type":"string"},{"name":"custom_event_name","in":"path","description":"Parameter to specify name of the custom event.","required":true,"type":"string"},{"name":"dropTable","in":"query","description":"Optional Parameter to specify if the associated table is to be deleted.","required":false,"type":"boolean"},{"name":"organization","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"This endpoint will delete the custom event with the given custom-event-name in the given organization. Check “Model” for the object - structure that will be returned.","schema":{"$ref":"#/definitions/delete_custom_event_success_response"},"examples":{"result_code":"Succeeded","message":"The custom event has been deleted successfully"}},"400":{"description":"Represents a response for an unsuccessful deletion of custom event.","schema":{"$ref":"#/definitions/delete_custom_event_failed_response"},"examples":{"errors":[{"error_code":"ERR_VALIDATION","description":"Failed to delete custom event."}],"result_code":"ValidationFailed","message":"Request Failed"}}}}},"/organizations/{organization}/lists/{api_name}/customevents/{custom_event_name}/fields":{"get":{"tags":["List"],"summary":"Use this endpoint to get custom event fields based on list API name and custom event name.","operationId":"List_RetrieveCustomEventFields","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"api_name","in":"path","description":"Parameter to specify API name of the list.","required":true,"type":"string"},{"name":"custom_event_name","in":"path","description":"Parameter to specify name of the custom event.","required":true,"type":"string"},{"name":"organization","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"This endpoint will return a custom-event-field-object with the custom event fields for given custom-event-name in the list with the given api-name defined on the given organization. Check “Model” for the object - structure.","schema":{"$ref":"#/definitions/Fields"},"examples":{"fields":[{"name":"field_1","length":50,"data_type":"Text","description":"This is a field of type text.","allow_null":false,"content":"Free","optionlist":null,"value_definition":null},{"name":"field_2","length":null,"data_type":"Numeric","description":"This is a field of type numeric.","allow_null":false,"content":"Free","optionlist":null,"value_definition":null},{"name":"field_3","length":50,"data_type":"Text","description":"This is a field of type text with text optionlist association.","allow_null":true,"content":"Multi","optionlist":"Optionlist_Text_ApiName","value_definition":null},{"name":"field_4","length":null,"data_type":"Numeric","description":"This is a field of type numeric with numeric optionlist association.","allow_null":false,"content":"Single","optionlist":"Optionlist_Numeric_ApiName","value_definition":null},{"name":"field_5","length":null,"data_type":"Boolean","description":"This is a field of type boolean.","allow_null":false,"content":"Free","optionlist":null,"value_definition":null},{"name":"field_6","length":50,"data_type":"Text","description":"This is a field of type text.","allow_null":true,"content":"ComputedPersisted","optionlist":null,"value_definition":"[%[MASTER.ID]%]"}]}}}},"post":{"tags":["List"],"summary":"Use this endpoint to create a custom event fields.","operationId":"List_CreateCustomEventFields","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"api_name","in":"path","description":"Parameter to specify API name of the list.","required":true,"type":"string"},{"name":"custom_event_name","in":"path","description":"Parameter to specify custom event name to be updated.","required":true,"type":"string"},{"name":"model","in":"body","description":"The model object consists custom event details that are to used to create a custom event field","required":true,"schema":{"$ref":"#/definitions/CreateCustomEventFieldsRequestModel"}},{"name":"organization","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"This endpoint will update the custom event.","schema":{"$ref":"#/definitions/create_custom_event_fields_success_response"},"examples":{"result_code":"Succeeded","message":"Fields created successfully."}},"400":{"description":"Custom event not updated.","schema":{"$ref":"#/definitions/create_custom_event_fields_failed_response"},"examples":{"errors":[{"error_code":"ERR","description":"Incorrect data provided."}],"result_code":"Failed","message":"Request Failed"}}}}},"/organizations/{organization}/lists/{api_name}/customevents/{custom_event_name}/fields/{field_name}":{"put":{"tags":["List"],"summary":"Use this endpoint to update a custom event field.","operationId":"List_UpdateCustomEventField","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"api_name","in":"path","description":"Parameter to specify API name of the list.","required":true,"type":"string"},{"name":"custom_event_name","in":"path","description":"Parameter to specify custom event name.","required":true,"type":"string"},{"name":"field_name","in":"path","description":"Parameter to specify custom event field name to be updated","required":true,"type":"string"},{"name":"model","in":"body","description":"The model object consists custom event field details that are to used to update a custom event field","required":true,"schema":{"$ref":"#/definitions/UpdateCustomEventFieldRequestModel"}},{"name":"organization","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"This endpoint will update the custom event field.","schema":{"$ref":"#/definitions/update_custom_event_field_success_response"},"examples":{"result_code":"Succeeded","message":"The custom event field has been updated successfully."}},"400":{"description":"Custom event field not updated.","schema":{"$ref":"#/definitions/update_custom_event_field_failed_response"},"examples":{"errors":[{"error_code":"ERR_VALIDATION","description":"Failed to update the field."}],"result_code":"Failed","message":"Error message"}}}}},"/organizations/{organization}/lists/{api_name}/customevents/{custom_event_name}/fields/{name}":{"delete":{"tags":["List"],"summary":"Use this endpoint to delete a custom event field based on list's API name, custom event name and name of the field","operationId":"List_DeleteCustomEventField","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"api_name","in":"path","description":"Parameter to specify API name of the list.","required":true,"type":"string"},{"name":"custom_event_name","in":"path","description":"Parameter to specify name of the custom event.","required":true,"type":"string"},{"name":"name","in":"path","description":"Parameter to specify name of the custom event field.","required":true,"type":"string"},{"name":"organization","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"This endpoint will delete the custom event field with the given custom-event-name and field name in the given organization. Check “Model” for the object - structure that will be returned.","schema":{"$ref":"#/definitions/delete_custom_event_field_success_response"},"examples":{"result_code":"Succeeded","message":"The custom event field has been deleted successfully"}},"400":{"description":"Represents a response for an unsuccessful deletion of custom event field.","schema":{"$ref":"#/definitions/delete_custom_event_field_failed_response"},"examples":{"errors":[{"error_code":"ERR_VALIDATION","description":"Failed to delete custom event field."}],"result_code":"ValidationFailed","message":"Request Failed"}}}}},"/organizations/{organization}/lists/{api_name}/data":{"post":{"tags":["Data"],"summary":"Use this endpoint to create or update a single record with data on a 1:1 relation","operationId":"Data_SaveListData","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"api_name","in":"path","description":"Parameter represents API name of the list.","required":true,"type":"string"},{"name":"keyfields","in":"query","description":"Parameter contains a comma-separated list of the key fields that need to be used to create or update records.","required":true,"type":"string"},{"name":"values","in":"body","description":"Parameter contains a key value pair dictionary of the master record data or slave record data.","required":true,"schema":{"type":"object","additionalProperties":{"type":"object"},"example":{"id":"1","mail":"john.doe@gmail.com","master.name":"Doe","scope1.field":"someValue","scope2.field":"someOtherValue"}}},{"name":"organization","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"This endpoint upsert a single list data record on 1:1 relation with the given list-api-name in the list with the given api-name in the given organization.","schema":{"$ref":"#/definitions/save_list_data_responsed"},"examples":{"result_code":"Succeeded","message":"Record ID 13 inserted on List DataApiOneToOne_A. Record ID 21 inserted on Relation NAMEREL."}}}},"delete":{"tags":["Data"],"summary":"Use this endpoint to delete data from a specific table.","operationId":"Data_DeleteData","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"api_name","in":"path","description":"Parameter represents API name of the list.","required":true,"type":"string"},{"name":"keyFields","in":"query","description":"Parameter contains a comma-separated list of the key fields that need to be used to delete records.","required":true,"type":"string"},{"name":"fields","in":"query","description":"Parameter indicates a comma-separated list of the fields that are in the provided data records.","required":false,"type":"string"},{"name":"mode","in":"query","description":"Parameter indicates the mode of the data transfer (Sync or Stream). [Default: Sync]","required":false,"type":"string"},{"name":"errorHandling","in":"query","description":"Parameter indicates error handling options whether to stop on error or continue on error","required":false,"type":"string"},{"name":"organization","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"This endpoint deletes data from the list with the given api-name in the given organization. Deleting data can be done synchronous or streamed.The data provided in the message body should be in Json format.e.g. [ [\"SOMEKEYFIELD\", \"SOMEOTHERKEYFIELD\", \"SOMEOTHERFIELD\"], [1, \"jane.doe@example.net\", \"Some random data 1\"], [2, \"john.doe@example.net\", \"Some random data 2\"] ]. Check “Model” for the object-structure that will be returned.","schema":{"$ref":"#/definitions/DeleteDataResponseModel"},"examples":{"errors":null,"result_code":"PartiallySucceeded","number_of_deleted_records":48,"number_of_duplicate_records":0,"number_of_failed_records":2,"number_of_records_not_found":0,"invalid_records":[{"record_index":17,"field_name":null,"message":"Record contains incorrect number of fields","validation_code":"InvalidFieldCount"}]}}}}},"/organizations/{organization}/lists/{api_name}/data/load":{"post":{"tags":["Data"],"summary":"Use this endpoint to load data into a specific table.","operationId":"Data_LoadData","consumes":["application/json"],"produces":["application/json","text/json"],"parameters":[{"name":"api_name","in":"path","description":"Parameter represents API name of the list.","required":true,"type":"string"},{"name":"keyFields","in":"query","description":"Parameter contains a comma-separated list of the key fields that need to be used to create or update records.","required":true,"type":"string"},{"name":"fields","in":"query","description":"Optional parameter containing a comma-separated list of the fields that are in the provided data records. Make sure that this list contains ALL fields (including the key fields) in the correct order. If this parameter is not provided, the first row of the provided data records will be used to determine the fields.","required":false,"type":"string"},{"name":"mode","in":"query","description":"Parameter indicates the mode of the data transfer (Sync or Stream). [Default: Sync]","required":false,"type":"string"},{"name":"deduplication","in":"query","description":"Parameter indicates the de-duplication option during an import data (ImportLastMatch or ImportFirstMatch). [Default: ImportLastMatch]","required":false,"type":"string"},{"name":"data_import_option","in":"query","description":"Parameter indicates the data import option during an import data (InsertAndUpdate or OnlyInsert or OnlyUpdate). [Default: InsertAndUpdate]","required":false,"type":"string"},{"name":"create_segment_name","in":"query","description":"Parameter indicates the name of segment at the time of segment creation","required":false,"type":"string"},{"name":"create_segment_api_name","in":"query","description":"Parameter indicates the api name of segment at the time of segment creation","required":false,"type":"string"},{"name":"errorHandling","in":"query","description":"Parameter indicates error handling options whether to stop on error or continue on error","required":false,"type":"string"},{"name":"organization","in":"path","required":true,"type":"string"},{"name":"jsondata","in":"body","required":true,"type":"string","format":"json"}],"responses":{"200":{"description":"This endpoint loads data into the list with the given api-name in the given organization. Loading data can be done synchronous or streamed. The data provided in the message body should be in Json format.e.g. [ [\"SOMEID\", \"SOMESTRING\", \"SOMEDATE\", \"SOMEFLOAT\", \"SOMEGUID\", \"SOMEBOOL\"], [1, \"Some String 1\", \"2018 -03-27T11:57:20.1179032Z\", 3.14, \"42ccbae0-d4fe-4d5f-b46e-1c6859d14524\", false], [2, \"Some String 2\", \"2018 -03-27T11:57:20.1234186Z\", 6.28, \"2d33b365-1008-4407-a818-dab8e46fbf40\", true] ]. The first line, containing the columns is optional and should ONLY be provided if the fields are not provided in the query string. Note that if the fields are provided in the query string, the first row will be considered as regular data. Check “Model” for the object-structure that will be returned.","schema":{"$ref":"#/definitions/LoadDataResponseModel"},"examples":{"errors":null,"result_code":"PartiallySucceeded","number_of_inserted_records":50,"number_of_failed_records":2,"number_of_updated_records":48,"number_of_duplicate_records":0,"number_of_records_not_found":0,"invalid_records":[{"record_index":10,"field_name":"SOMESTRING","message":"Length of string (53) exceeds maximum field length (50)","validation_code":"MaxStringLengthExceeded"},{"record_index":17,"field_name":null,"message":"Record contains incorrect number of fields","validation_code":"InvalidFieldCount"}],"number_of_deleted_records":0}}}}},"/organizations/{organization}/lists/{api_name}/data/search":{"post":{"tags":["Data"],"summary":"Use this endpoint to search for data records in a specific table.\r\nSearching data can be done synchronous or streamed.\r\nThe data in the response will be in a Json format.","operationId":"Data_SearchData","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"api_name","in":"path","description":"Parameter represents the API name of the list.","required":true,"type":"string"},{"name":"request","in":"body","description":"Parameter specifies the details on the data that should be searched.","required":true,"schema":{"$ref":"#/definitions/SearchDataRequestModel"}},{"name":"mode","in":"query","description":"Parameter indicates the mode of the data transfer (Sync or Stream). [Default: Sync]","required":false,"type":"string"},{"name":"organization","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SearchDataResponseModel"},"examples":{"fields":["FIELD1","FIELD2"],"data":[["RECORD1_FIELD1_VALUE",1],["RECORD2_FIELD1_VALUE",2],["RECORD3_FIELD1_VALUE",3]],"result_code":"Succeeded","errors":[],"count":0,"total_count":0}}}}},"/organizations/{organization}/lists/{api_name}/fields":{"get":{"tags":["List"],"summary":"Use this endpoint to get list fields based on API name of list.","operationId":"List_GetListFields","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"api_name","in":"path","description":"Parameter for API name associated with a list","required":true,"type":"string"},{"name":"organization","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"This endpoint will return list of field-objects defined on the list with the given api-name on the given organization. Check “Model” for the object - structure.","schema":{"$ref":"#/definitions/fields"},"examples":{"fields":[{"name":"field_1","length":50,"data_type":"Text","description":"This is a field of type text.","allow_null":false,"content":"Free","optionlist":null,"value_definition":null},{"name":"field_2","length":null,"data_type":"Numeric","description":"This is a field of type numeric.","allow_null":false,"content":"Free","optionlist":null,"value_definition":null},{"name":"field_3","length":50,"data_type":"Text","description":"This is a field of type text with text optionlist association.","allow_null":true,"content":"Multi","optionlist":"Optionlist_Text_ApiName","value_definition":null},{"name":"field_4","length":null,"data_type":"Numeric","description":"This is a field of type numeric with numeric optionlist association.","allow_null":false,"content":"Single","optionlist":"Optionlist_Numeric_ApiName","value_definition":null},{"name":"field_5","length":null,"data_type":"Boolean","description":"This is a field of type boolean.","allow_null":false,"content":"Free","optionlist":null,"value_definition":null},{"name":"field_6","length":50,"data_type":"Text","description":"This is a field of type text.","allow_null":true,"content":"ComputedPersisted","optionlist":null,"value_definition":"[%[MASTER.ID]%]"}]}}}},"post":{"tags":["List"],"summary":"Use this endpoint to create list fields.","operationId":"List_CreateListFields","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"api_name","in":"path","description":"The api name of of the list","required":true,"type":"string"},{"name":"model","in":"body","description":"The model containing the data that should be sent","required":true,"schema":{"$ref":"#/definitions/CreateListFieldsRequestModel"}},{"name":"organization","in":"path","required":true,"type":"string"}],"responses":{"201":{"description":"This endpoint will add fields to the list with the given api-name. These fields will be added at the end of the list.Check “Model” for the object - structure.","schema":{"$ref":"#/definitions/create_fields_success_response"},"examples":{"result_code":"Succeeded","message":"Fields created successfully."}},"400":{"description":"Invalid model data has been provided","schema":{"$ref":"#/definitions/create_fields_failed_response"},"examples":{"errors":[{"error_code":"ERR","description":"Incorrect data provided."}],"result_code":"Failed","message":"Request Failed"}}}}},"/organizations/{organization}/lists/{api_name}/fields/{name}":{"put":{"tags":["List"],"summary":"Use this endpoint to update an existing field of list.","operationId":"List_UpdateListField","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"api_name","in":"path","description":"Parameter for api_name associated with the list.","required":true,"type":"string"},{"name":"name","in":"path","description":"Parameter for name of the field to be updated.","required":true,"type":"string"},{"name":"updateFieldRequestModel","in":"body","description":"Parameter for details containing the new field information.","required":true,"schema":{"$ref":"#/definitions/UpdateListFieldRequestModel"}},{"name":"organization","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"Calling this endpoint can update the name & description of the field with the given name in the list with the given api-name. Check “Model” for the object - structure.","schema":{"$ref":"#/definitions/update_field_success_response"},"examples":{"result_code":"Succeeded","message":"The field has been updated successfully."}},"400":{"description":"Failed to update the field.","schema":{"$ref":"#/definitions/update_field_failed_response"},"examples":{"errors":[{"error_code":"ERR_VALIDATION","description":"Failed to update the field."}],"result_code":"Failed","message":"Error message"}}}},"delete":{"tags":["List"],"summary":"Use this endpoint to delete a list field based on list's API name and name of the field","operationId":"List_DeleteListField","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"api_name","in":"path","description":"Parameter to specify API name of list.","required":true,"type":"string"},{"name":"name","in":"path","description":"Parameter to specify name of the field","required":true,"type":"string"},{"name":"organization","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"This endpoint will delete the field with the given name in the list with the given api-name in the given organization. Check “Model” for the object - structure that will be returned.","schema":{"$ref":"#/definitions/delete_list_field_success_response"},"examples":{"result_code":"Succeeded","message":"List field deleted successfully."}},"400":{"description":"Represents a response for an unsuccessful delete of list field.","schema":{"$ref":"#/definitions/delete_list_field_failed_response"},"examples":{"errors":[{"error_code":"ERR_VALIDATION","description":"Failed to delete field."}],"result_code":"ValidationFailed","message":"Request Failed"}}}}},"/organizations/{organization}/lists/{api_name}/records":{"get":{"tags":["List"],"summary":"Use this endpoint to get records count by API name of list.","operationId":"List_GetListRecordsCount","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"api_name","in":"path","description":"Parameter to specify API name of the list.","required":true,"type":"string"},{"name":"organization","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"This endpoint will return the count of the number of records in the list with the given api-name on the given organization. Check “Model” for the object - structure.","schema":{"$ref":"#/definitions/list_records_count_success_response"},"examples":{"count":1}}}}},"/organizations/{organization}/lists/{api_name}/records/{record_id}":{"delete":{"tags":["List"],"summary":"Use this endpoint to delete single record by its record Id.","operationId":"List_DeleteListRecord","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"api_name","in":"path","description":"Parameter to specify API name of the list.","required":true,"type":"string"},{"name":"record_id","in":"path","description":"Required Parameter to specify if the associated record is to be deleted.","required":true,"type":"integer","format":"int32"},{"name":"organization","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"This endpoint will delete the field with the given name in the list with the given api-name in the given organization. Check “Model” for the object - structure that will be returned.","schema":{"$ref":"#/definitions/delete_list_record_success_response"},"examples":{"result_code":"Succeeded"}},"400":{"description":"Represents a response for an unsuccessful delete of list record.","schema":{"$ref":"#/definitions/delete_list__record_failed_response"},"examples":{"errors":[{"error_code":"ERR_VALIDATION","description":"Failed to delete list record."}],"result_code":"ValidationFailed","message":"Request Failed"}}}}},"/organizations/{organization}/lists/{api_name}/relations":{"get":{"tags":["List"],"summary":"Use this endpoint to get all relations associated with a list.","operationId":"List_GetRelations","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"api_name","in":"path","description":"Parameter for API name associated with a list","required":true,"type":"string"},{"name":"filter","in":"query","description":"Optional parameter to filter relations by type. (OneToOne, OneToMany or ManyToOne)","required":false,"type":"string"},{"name":"organization","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"Relations between lists allow you to store additional information that cannot be stored in the main list. These are the 3 major relationships:  • 1:1(profile extensions) — Used for selection and personalization.It can be considered as a expansion of your audience list. • 1:N(lookup tables)— Used only for selections, not personalization.  • N: 1 — Used to link multiple records in the master list to one single record in the linked list. A typical example of this is when family members are linked to one single address. This endpoint will return a list of relation - objects of the relations defined on the list with the given api - name in the given organization.Check “Model” for the object - structure.","schema":{"$ref":"#/definitions/relations"},"examples":{"relations":[{"type":"ManyToOne","scope":"scope_1","source_list_api_name":"source_list_api_name","destination_list_api_name":"destination_list_1_api_name"},{"type":"OneToMany","scope":"scope_2","source_list_api_name":"source_list_api_name","destination_list_api_name":"destination_list_2_api_name"}]}}}},"post":{"tags":["List"],"summary":"Use this endpoint to create relations between 2 lists.","operationId":"List_CreateListRelations","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"api_name","in":"path","description":"","required":true,"type":"string"},{"name":"model","in":"body","description":"","required":true,"schema":{"$ref":"#/definitions/CreateListRelationsRequestModel"}},{"name":"organization","in":"path","required":true,"type":"string"}],"responses":{"201":{"description":"This endpoint will add relations to the list with the given api-name. Multiple relations can be created in a single call. Check “Model” for the object - structure.","schema":{"$ref":"#/definitions/create_list_relations_success_response"},"examples":{"errors":null,"result_code":"Succeeded","message":null}},"400":{"description":"No (or invalid) id or model data has been provided","schema":{"$ref":"#/definitions/create_list_relations_failed_response"},"examples":{"errors":[{"error_code":"ERR_VALIDATION","description":"Failed to create list relation."}],"result_code":"ValidationFailed","message":"Request Failed"}}}}},"/organizations/{organization}/lists/{api_name}/relations/{scope}":{"get":{"tags":["List"],"summary":"Use this endpoint to get relation details based on API name of the list and name of the relation.","operationId":"List_GetRelationDetails","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"api_name","in":"path","description":"Parameter to specify API name of the list","required":true,"type":"string"},{"name":"scope","in":"path","description":"Parameter to specify scope name of the relation","required":true,"type":"string"},{"name":"organization","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"This endpoint will return a relations-object with the details of the relation with the given scope and api-name defined on the given organization. Check “Model” for the object - structure.","schema":{"$ref":"#/definitions/RelationDetailsModel"},"examples":{"scope_name":"relation","relation_type":"OneToMany","master_list_api_name":"master_list","master_list_field_name":"master_field","slave_list_api_name":"slave_list","slave_list_field_name":"slave_field","constraints":[{"source_list":"MASTER","source_field":"master_field","operator":"EqualTo","destination_list":"SLAVE","destination_field":"slave_field","field_value":null},{"source_list":"MASTER","source_field":"master_field","operator":"EqualTo","destination_list":null,"destination_field":null,"field_value":"10"}]}}}},"put":{"tags":["List"],"summary":"Use this endpoint to update an existing relation between the given list and a linked list.","operationId":"List_UpdateListRelation","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"api_name","in":"path","description":"Parameter to specify API name of list","required":true,"type":"string"},{"name":"scope","in":"path","description":"Parameter to specify name of relation","required":true,"type":"string"},{"name":"model","in":"body","description":"Object to specify updates to a relation","required":true,"schema":{"$ref":"#/definitions/UpdateListRelationRequest"}},{"name":"organization","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"Calling this endpoint will update the relation with the given scope in the list with the given api-name. All properties can be changed. Do note that changing these may affect the behaviour of journey tasks based on the updated relation. Check “Model” for the object - structure.","schema":{"$ref":"#/definitions/update_list_relation_success_response"},"examples":{"result_code":"Succeeded","message":"The relation was successfully updated."}},"400":{"description":"No (or invalid) api_name or scope has been provided or unable to update relation","schema":{"$ref":"#/definitions/update_list_relation_failed_response"},"examples":{"errors":[{"error_code":"Failed","description":"an error has occured"}],"result_code":"Failed","message":"Error message"}}}},"delete":{"tags":["List"],"summary":"Use this endpoint to delete a relation between this list and another.","operationId":"List_DeleteRelation","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"api_name","in":"path","description":"","required":true,"type":"string"},{"name":"scope","in":"path","description":"","required":true,"type":"string"},{"name":"organization","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"This endpoint will delete the field relation the given scope in the list with the given api-name in the given organization. Deleting a relation is not possible if the relation is used on a bounce - list.Deleting relations that are(only) used in content or expressions will break this content and expressions.Check “Model” for the object - structure that will be returned.","schema":{"$ref":"#/definitions/delete_list_relation_success_response"},"examples":{"result_code":"Succeeded","message":"The relation has been deleted successfully"}},"400":{"description":"No (or invalid) api_name or scope has been provided or unable to delete relation","schema":{"$ref":"#/definitions/delete_list_relation_failed_response"},"examples":{"errors":[{"error_code":"ERR_FAILED","description":"Failed to delete list relation."}],"result_code":"Failed","message":"Request Failed"}}}}},"/organizations/{organization}/lists/{api_name}/segments":{"get":{"tags":["List"],"summary":"Use this endpoint to get an overview of the segments defined on the given list.","operationId":"List_GetListSegments","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"api_name","in":"path","description":"api name of the List for which segments are requested.","required":true,"type":"string"},{"name":"filter","in":"query","description":"Optional parameter to filter segment by type.","required":false,"type":"string"},{"name":"search","in":"query","description":"Optional parameter to search a segment with a specific name, description or tags.","required":false,"type":"string"},{"name":"skip","in":"query","description":"Optional parameter to specify index to start picking segment items from.","required":false,"type":"integer","format":"int32"},{"name":"take","in":"query","description":"Optional parameter to specify count for the number of segment items to be taken.","required":false,"type":"integer","format":"int32"},{"name":"organization","in":"path","required":true,"ty
[...]
